# 신장의무기록사본 OCR 서비스 구현

In [5]:
from glob import glob
import cv2

import os

import numpy as np

import json
import math
import os
os.chdir('D:/kidney/source')

import tensorflow as tf
import pandas as pd

import efficientnet.tfkeras

import efficientnet.tfkeras
from tensorflow.keras.models import load_model
import efficientnet.keras

In [7]:
def border_make(image):
    row, col = image.shape[:2]
    bottom = image[row-2:row, 0:col]
    mean = cv2.mean(bottom)[0]
    
    col_bordersize = (55-col)/2
    row_bordersize = (55-row)/2
    
    border = cv2.copyMakeBorder(
        image,
        top = math.ceil(row_bordersize),
        bottom = math.floor(row_bordersize),
        left = math.ceil(col_bordersize),
        right = math.floor(col_bordersize),
        borderType = cv2.BORDER_ISOLATED, #BORDER_ISOLATED  BORDER_CONSTANT
        value = [mean, mean, mean]
    )
    return border

In [3]:
## 3. 예측 준비하기

### 3-1. 예측 할 이미지 불러오기

predict_lst =  glob('D:/kidney/image/forPredict/*.png')

In [6]:
### 3-2. 이미지 모델에 맞게 변환하기

predict_lst_num = 0

image = cv2.imread(predict_lst[predict_lst_num], cv2.IMREAD_COLOR)
img = border_make(image)
dst = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
ret ,img = cv2.threshold(dst,127,255,0)
img = img.reshape(-1,55,55,1)
img.shape

NameError: name 'border_make' is not defined

img_arr_lst = []
for address in range(len(predict_lst)):
    image = cv2.imread(address, cv2.IMREAD_COLOR)
    img = border_make(image)
    dst = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    ret ,img = cv2.threshold(dst,127,255,0)
    img_arr_lst.append(img_arr_lst)

In [69]:
## 4. 예측

### 4-1-1.예측값 구하기(array 형태로 확률이 나옴)

pred = model.predict(img)

In [70]:
### 4-1-2.예측값 구하기(데이터프레임 형태로 확률이 나옴)

round_num = 2

pred_df = pd.DataFrame(pred).round(round_num)
#pred_df

In [71]:
### 4-2. 가장 확률이 높은 컬럼 번호 찾기

pred_col_num = pred_df.loc[:,pred_df.loc[0]==round(pred.max(),round_num)].columns[0]
pred_col_num

pred_df

pred_df.iloc[0, 8]

pred.max()

0.9910347

In [72]:
### 4-3. 컬럼 번호를 레이블값으로 대치

Y_train

Y_train_columns = Y_train.columns
Y_train_columns
print(len(Y_train_columns)) #122

122

pd.DataFrame(Y_train_columns).to_csv('../data/종속_데이터_컬럼.csv', index=False)

## 5. 예측과 실제 값 비교

predict_lst_num = 4 로 위에서 설정했었다.

In [73]:
pred_label = Y_train_columns[pred_col_num]
actual_value_lst = ['.','1','1','8','1','0','2','3','/','희','찬','0','자','출','명','증','본','의','력','다','합','을','음','없','림','틀','과','의','록','무','은','니','본','사','한','부','첨','~','~','~','~']
print("예측 정답: '", pred_label,"'")
print("실제 정답: '", actual_value_lst[predict_lst_num],"'")

예측 정답: ' . '
실제 정답: ' . '

## 6. 전체를 한번에 예측하기

### 6-1. 테스트 독립 데이터 만들기

predict_lst =  glob('D:/kidney/image/forPredict/*.png')   로 위에서 설정했었다.

In [74]:
img_lst = []
for predict_lst_num in range(len(predict_lst)):
    image = cv2.imread(predict_lst[predict_lst_num], cv2.IMREAD_COLOR)
    img = border_make(image)
    dst = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    ret ,img = cv2.threshold(dst,127,255,0)
    img_lst.append(img)
    img_array = np.array(img_lst)
img_array_reshape = img_array.reshape(-1,55,55,1)
X_train = img_array_reshape
X_train.shape

(41, 55, 55, 1)

In [75]:
### 6-2. 예측 확률 데이터프레임 형태로 출력

pred = model.predict(X_train)
pred # 41
pred_df = pd.DataFrame(pred).round(round_num)
print(pred_df.shape)
pred_df.head()

(41, 122)

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
0,0.0,0.0,0.0,0.0,0.01,0.99,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.06,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.00,0.00,0.02,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [76]:
### 6-3. 6-2번에서 나온 값을 알아 볼 수 있게 변경하기

### 6-3-1

len(actual_value_lst) # 41

41

In [77]:
### 6-3-2. 최고 확률 값의 컬럼 알아내기(6-3-1의 인덱스 번호와 일치시키기 위해)

pred_df.shape # (41, 122)

pred_lst = []
for row in range(len(pred_df)):
    pred_col_num = pred_df.loc[:,pred_df.loc[row] == round(pred_df.iloc[row],round_num).max()].columns[0]
    pred_lst.append(pred_col_num)

print(len(pred_lst))
pred_lst

41

[5,
 52,
 52,
 55,
 52,
 55,
 8,
 55,
 57,
 119,
 61,
 55,
 12,
 4,
 19,
 12,
 94,
 104,
 104,
 12,
 81,
 12,
 13,
 104,
 66,
 61,
 12,
 104,
 13,
 36,
 19,
 9,
 108,
 86,
 112,
 26,
 34,
 4,
 4,
 4,
 4]

In [78]:
### 6-3-3. 예측된 확률을 가장 높은 확률의 값으로 바꾸기

len(actual_value_lst) # 41

predict_value_lst = []
for i, column_num in enumerate(pred_lst):
    predict_value_lst.append(Y_train_columns[column_num])

print(len(predict_value_lst))
predict_value_lst

41

['.',
 'l',
 'l',
 'o',
 'l',
 'o',
 '1',
 'o',
 'r',
 '호',
 '~',
 'o',
 '5',
 '-',
 'B',
 '5',
 '위',
 '정',
 '정',
 '5',
 '반',
 '5',
 '6',
 '정',
 '고',
 '~',
 '5',
 '정',
 '6',
 'T',
 'B',
 '2',
 '참',
 '사',
 '치',
 'H',
 'R',
 '-',
 '-',
 '-',
 '-']

In [79]:
### 6-3-4 실제 정답

print(len(actual_value_lst))
actual_value_lst

### 6-4. 데이터 프레임 형태로 비교해 보기

result_df = pd.DataFrame(columns=['predict', 'actual'])

result_df.actual = actual_value_lst
result_df.predict = predict_value_lst
result_df.head()

41

  predict actual
0       .      .
1       l      1
2       l      1
3       o      8
4       l      1

result_df.to_csv('../data/20210727_SCAN_01_USING.csv', index = False)

In [80]:
## 7. confusion matrix

### 7-2. 실전

print(pred.shape)
Y_train = sorted(Y_train)
print(len(Y_train))

confusion_df = pd.DataFrame(data=pred, index = actual_value_lst, columns= Y_train).round(0)  #index = predict_lst_val

confusion_df = confusion_df.reset_index()

print(confusion_df.shape)
confusion_df.head() # (41,123)

(41, 122)
122
(41, 123)

,index,%,(,),",",-,.,/,0,1,...,치,태,틀,페,학,한,합,호,화,희
0,.,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
pivot_df = pd.pivot_table(confusion_df,index = ['index'], aggfunc = [sum])
pivot_df.columns = pivot_df.columns.droplevel(0)

pivot_df = pivot_df.reset_index()
pivot_df.shape

(33, 123)

In [82]:
### 전체 목록중에 예측 데이터 제외 나머지도 로우(인덱스)에 넣기

Y_train #전체 리스트 # 122
predict = list(set(predict_value_lst)) #예측한 리스트 # 41

In [83]:
### 전체리스트 - 예측한 리스트

pivot_df.head()

a_sub_b = [x for x in Y_train if x not in list(pivot_df['index'])]

In [84]:
### 피벗한 데이터프레임에 빈 로우 추가하기

add_df = pd.DataFrame(data =np.nan, index = a_sub_b, columns=Y_train).reset_index()
add_df

,index,%,(,),",",-,.,/,0,1,...,치,태,틀,페,학,한,합,호,화,희
0,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,",",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,태,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,페,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,학,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,호,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,화,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
### 피벗한 데이터프레임에 빈 로우 추가하기

concat_df = pd.concat([pivot_df, add_df])
concat_df = concat_df.set_index('index', drop=True)
concat_df = concat_df.fillna(0)
concat_df = concat_df.sort_index()
print(concat_df.shape)
concat_df.tail()

#concat_df.to_csv('../data/confusion_table.csv',  encoding = 'utf-8-sig') # index =False,

(122, 122)

,%,(,),",",-,.,/,0,1,2,...,치,태,틀,페,학,한,합,호,화,희
index,,,,,,,,,,,,,,,,,,,,,
한,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
합,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
호,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
화,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
희,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
# 다중 레이블 다중 분류

### TP, TN, FP, FN  //  accuracy, precision, recall, F1

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

acc = accuracy_score(actual_value_lst, predict_value_lst)

pre_none = precision_score(actual_value_lst, predict_value_lst, average=None)
pre_micro = precision_score(actual_value_lst, predict_value_lst, average='micro')
pre_macro = precision_score(actual_value_lst, predict_value_lst, average='macro') # 'micro', 'macro', 'weighted'
pre_weighted = precision_score(actual_value_lst, predict_value_lst, average='weighted') # 'micro', 'macro', 'weighted'

recall_micro = recall_score(actual_value_lst, predict_value_lst, average='micro')
recall_macro = recall_score(actual_value_lst, predict_value_lst, average='macro') # 'micro', 'macro', 'weighted'
recall_weighted = recall_score(actual_value_lst, predict_value_lst, average='weighted') # 'micro', 'macro', 'weighted'

f1_weighted = f1_score(actual_value_lst, predict_value_lst, labels=None, average="weighted")

print('accurracy: ', acc)

print('pre_none: ', pre_none)
print('pre_micro: ', pre_micro)
print('pre_macro: ', pre_macro)
print('pre_weighted: ', pre_weighted)

print('recall_micro: ', recall_micro)
print('recall_macro: ', recall_macro)
print('recall_weighted: ', recall_weighted)

print('f1_weighted: ', f1_weighted)

accurracy:  0.04878048780487805
pre_none:  [0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0.]
pre_micro:  0.04878048780487805
pre_macro:  0.04
pre_weighted:  0.04878048780487805
recall_micro:  0.04878048780487805
recall_macro:  0.04
recall_weighted:  0.04878048780487805
f1_weighted:  0.04878048780487805

C:\Users\SURIMWANG\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\SURIMWANG\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
C:\Users\SURIMWANG\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\SURIMWANG\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

# roc커브, auc 구하기

# 8. need to update labelme