# 신장의무기록사본 OCR 서비스 구현

# 1. 라이브러리 로드

In [1]:
from glob import glob
import pandas as pd
import cv2
import numpy as np
import math

from tensorflow.keras.models import load_model
import tensorflow as tf
import json

import os
os.chdir('D:/kidney/source')

In [2]:
# import efficientnet.keras

In [3]:
import efficientnet.tfkeras # for swish

# 2. 모델 로드

In [4]:
model = load_model('../model/OCR_ver1.0.h5')

WARNING:tensorflow:From C:\Users\SURIMWANG\Anaconda3\lib\site-packages\tensorflow_core\python\ops\init_ops.py:97: calling GlorotUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From C:\Users\SURIMWANG\Anaconda3\lib\site-packages\tensorflow_core\python\ops\init_ops.py:97: calling Zeros.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From C:\Users\SURIMWANG\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

# 3. 예측 준비

In [5]:
def border_make(image):
    row, col = image.shape[:2]
    bottom = image[row-2:row, 0:col]
    mean = cv2.mean(bottom)[0]
    
    col_bordersize = (55-col)/2
    row_bordersize = (55-row)/2
    
    border = cv2.copyMakeBorder(
        image,
        top = math.ceil(row_bordersize),
        bottom = math.floor(row_bordersize),
        left = math.ceil(col_bordersize),
        right = math.floor(col_bordersize),
        borderType = cv2.BORDER_ISOLATED, #BORDER_ISOLATED  BORDER_CONSTANT
        value = [mean, mean, mean]
    )
    return border

## 3. 예측 준비하기
### 3-1. 예측 할 이미지 불러오기
predict_lst =  glob('D:/kidney/image/forPredict/*.png')

# 3-2. 여러글자 동시에 예측 준비?

# labelme scan file 읽기
with open('../image/SCAN_01.json', "r", encoding='UTF8') as scan_json:
    json_dict = json.load(scan_json)

# 라벨을 리스트로 만들기
data = json_dict['shapes'] #341

Y_train_label = [] # 971
for i in range(len(data)):
    label = json_dict['shapes'][i]['label']
    Y_train_label.append(label)

## 2. CNN OCR 모델 만들기

### 2-1. 독립변수, 종속변수 정의

X_train = np.load('../data/X_train.npy', mmap_mode=None, allow_pickle=False, fix_imports=True, encoding='ASCII')
Y_train = pd.get_dummies(Y_train_label) # 971 to (971, 122) 
# Y_train에 대하여
# 971row 중에 중복이 많은데 그걸 유니크해보면 총 122개가 나온다. 
#당연하 get_dummies()해주면 971개 행을 구분해주는 122개의 column이 생긴다. 결국 컬럼명에 해당되는 자리는 1 나머지는 0이 된다.

print(X_train.shape, Y_train.shape)

### 4-3. 컬럼 번호를 레이블값으로 대치
Y_train_columns = pd.read_csv('../data/종속_데이터_컬럼.csv', encoding= 'utf-8-sig')  # list # 122
Y_train_columns = Y_train_columns.loc[:, '0']

In [10]:
# 예측 데이터 레이블 값 #Y_test
actual_value_lst = ['.','1','1','8','1','0','2','3','/','희','찬','0','자','출','명','증','본','의','력','다','합','을','음','없','림','틀','과','의','록','무','은','니','본','사','한','부','첨','~','~','~','~']

## 6. 전체를 한번에 예측하기

### 6-1. 테스트 독립 데이터 만들기

In [11]:
predict_lst = glob('D:/kidney/image/forPredict/*.png')

In [36]:
img_lst = []
for predict_lst_num in range(len(predict_lst)):
    image = cv2.imread(predict_lst[predict_lst_num], cv2.IMREAD_COLOR)
    img = border_make(image)
    dst = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    ret ,img = cv2.threshold(dst,127,255,0)
    img_lst.append(img)
    img_array = np.array(img_lst)
img_array_reshape = img_array.reshape(-1,55,55,1)
X_test = img_array_reshape
X_test.shape

(41, 55, 55, 1)

In [37]:
### 6-2. 예측 확률 데이터프레임 형태로 출력

pred = model.predict(X_test)
pred # 41
pred_df = pd.DataFrame(pred).round(2)
print(pred_df.shape)
pred_df.head()

(41, 122)

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
0,0.0,0.0,0.0,0.0,0.0,1.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.78,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.02,0.0,0.02,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.03,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
### 6-3. 6-2번에서 나온 값을 알아 볼 수 있게 변경하기

### 6-3-1

len(actual_value_lst) # 41

41

In [39]:
### 6-3-2. 최고 확률 값의 컬럼 알아내기(6-3-1의 인덱스 번호와 일치시키기 위해)

pred_df.shape # (41, 122)

pred_lst = [] #list # 41
for row in range(len(pred_df)):
    pred_col_num = pred_df.loc[:,pred_df.loc[row] == round(pred_df.iloc[row],2).max()].columns[0]
    pred_lst.append(pred_col_num)

In [40]:
### 6-3-3. 예측된 확률을 가장 높은 확률의 값으로 바꾸기

len(actual_value_lst) # 41

predict_value_lst = [] # list # 41
for i, column_num in enumerate(pred_lst):
    predict_value_lst.append(Y_train_columns[column_num])

In [41]:
### 6-3-4 실제 정답

print(len(actual_value_lst))
actual_value_lst

### 6-4. 데이터 프레임 형태로 비교해 보기

result_df = pd.DataFrame(columns=['predict', 'actual'])

result_df.actual = actual_value_lst
result_df.predict = predict_value_lst
result_df.head()

41

  predict actual
0       .      .
1       l      1
2       1      1
3       x      8
4       l      1

result_df.to_csv('../data/20210727_SCAN_01_USING.csv', index = False)

In [28]:
## 7. confusion matrix

### 7-2. 실전

print(pred.shape) # (41, 122)
Y_train = sorted(Y_train) # 122

confusion_df = pd.DataFrame(data=pred, index = actual_value_lst, columns= Y_train).round(0)  #index = predict_lst_val
confusion_df = confusion_df.reset_index()

confusion_df.head() # (41,123)

(41, 122)

,index,%,(,),",",-,.,/,0,1,...,치,태,틀,페,학,한,합,호,화,희
0,.,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
pivot_df = pd.pivot_table(confusion_df,index = ['index'], aggfunc = [sum])
pivot_df.columns = pivot_df.columns.droplevel(0)

pivot_df = pivot_df.reset_index() #( 33, 123)

In [31]:
### 전체 목록중에 예측 데이터 제외 나머지도 로우(인덱스)에 넣기

Y_train #전체 리스트 # 122
predict = list(set(predict_value_lst)) #예측한 리스트 # 41

In [32]:
### 전체리스트 - 예측한 리스트

pivot_df.head()

a_sub_b = [x for x in Y_train if x not in list(pivot_df['index'])]

In [33]:
### 피벗한 데이터프레임에 빈 로우 추가하기

add_df = pd.DataFrame(data =np.nan, index = a_sub_b, columns=Y_train).reset_index()
add_df

,index,%,(,),",",-,.,/,0,1,...,치,태,틀,페,학,한,합,호,화,희
0,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,",",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,태,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,페,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,학,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,호,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,화,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
### 피벗한 데이터프레임에 빈 로우 추가하기

concat_df = pd.concat([pivot_df, add_df])
concat_df = concat_df.set_index('index', drop=True)
concat_df = concat_df.fillna(0)
concat_df = concat_df.sort_index()
print(concat_df.shape)
concat_df.tail()

#concat_df.to_csv('../data/confusion_table.csv',  encoding = 'utf-8-sig') # index =False,

(122, 122)

,%,(,),",",-,.,/,0,1,2,...,치,태,틀,페,학,한,합,호,화,희
index,,,,,,,,,,,,,,,,,,,,,
한,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
합,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
호,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
화,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
희,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
# 다중 레이블 다중 분류

### TP, TN, FP, FN  //  accuracy, precision, recall, F1

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

acc = accuracy_score(actual_value_lst, predict_value_lst)

precision_none = precision_score(actual_value_lst, predict_value_lst, average=None)
precision_micro = precision_score(actual_value_lst, predict_value_lst, average='micro')
precision_macro = precision_score(actual_value_lst, predict_value_lst, average='macro') # 'micro', 'macro', 'weighted'
precision_weighted = precision_score(actual_value_lst, predict_value_lst, average='weighted') # 'micro', 'macro', 'weighted'

recall_micro = recall_score(actual_value_lst, predict_value_lst, average='micro')
recall_macro = recall_score(actual_value_lst, predict_value_lst, average='macro') # 'micro', 'macro', 'weighted'
recall_weighted = recall_score(actual_value_lst, predict_value_lst, average='weighted') # 'micro', 'macro', 'weighted'

f1_weighted = f1_score(actual_value_lst, predict_value_lst, labels=None, average="weighted")

print('accurracy: ', acc)

print('precision_none: ', precision_none)
print('precision_micro: ', precision_micro)
print('precision_macro: ', precision_macro)
print('precision_weighted: ', precision_weighted)

print('recall_micro: ', recall_micro)
print('recall_macro: ', recall_macro)
print('recall_weighted: ', recall_weighted)

print('f1_weighted: ', f1_weighted)

accurracy:  0.0975609756097561
precision_none:  [0.25 0.   1.   1.   1.   0.   0.   0.   0.   0.   0.   0.   0.   0.
 0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
 0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
 0.   0.   0.   0.   0.   0.   0.   0.   0.   0.  ]
precision_micro:  0.0975609756097561
precision_macro:  0.0625
precision_weighted:  0.1524390243902439
recall_micro:  0.0975609756097561
recall_macro:  0.05448717948717948
recall_weighted:  0.0975609756097561
f1_weighted:  0.10325203252032518

C:\Users\SURIMWANG\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\SURIMWANG\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
C:\Users\SURIMWANG\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\SURIMWANG\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

# roc커브, auc 구하기

# 8. need to update labelme